Â ![png](Books_ERD.png)

In [7]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [8]:
connection = "mysql+pymysql://root:root@localhost/books"

In [9]:
engine = create_engine(connection)

In [10]:
create_database(connection)

In [12]:
database_exists(connection)

True

In [13]:
if database_exists(connection) == False:
    create_database(connection)
else:
    print("The database already exists")

The database already exists

In [18]:
import pandas as pd
users_df = pd.read_csv(r"C:\Users\Antho\Downloads\data (2).csv")
books_df = pd.read_csv(r"C:\Users\Antho\Downloads\data (3).csv")
authors_df = pd.read_csv(r"C:\Users\Antho\Downloads\data (4).csv")
favorites_df = pd.read_csv(r"C:\Users\Antho\Downloads\data (5).csv")

In [21]:
users_df.to_sql('users', engine, if_exists = 'replace')
books_df.to_sql('books', engine, if_exists = 'replace')
authors_df.to_sql('authors', engine, if_exists = 'replace')
favorites_df.to_sql('favorites', engine, if_exists = 'replace')

7

In [22]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users